@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

html {
    background-image: url('https://i.gifer.com/ul.gif');
    color: white;
    font-family: 'Sora', sans-serif;
    font-size: 30;
    scroll-behavior: smooth;
    transition: all 0.2s ease-in-out;
}

nav {
  background-color: white;
  top: 0;
  width: 100%;
  left: 0;
  position: fixed;
  color: black;
  box-shadow: 0 0 1em white;
}

.element {
  transition: all 0.35s ease-in-out;
}

.element:hover {
  color: orange;
  cursor: default;
  transition: all 0.35s ease-in-out;
}

.centered {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  margin-right: 50px;
}

#mylogo {
  border-radius: 100%;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 20px;
}

button {
  background-color: white;
  color: black;
  padding: 10px;
  border-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
  font-family: 'Sora', sans-serif;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 15px;
}

button:hover {
  box-shadow: 0 0 10px white;
  transition: all 0.2s ease-in-out;
  transform: scale(1.3);
}

img {
  transition: all 0.2s ease-in-out;
}

img:hover {
  box-shadow: 0 0 15px white;
  transition: all 0.2s ease-in-out;
}