@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Play&family=Poppins&family=Sora&display=swap');

html {
    background-image: url('assets/background.jpg');
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30;
    scroll-behavior: smooth;
    transition: all 0.2s ease-in-out;
}

#presentation {
    margin-top: 320px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-left: 30px;
    transition: all 0.2s ease-in-out;
}

h1 {
    font-size: 30px;
    margin-top: 30px;
}

h2 {
    font-size: 20px;
    color: #D0CCD4;
}

#title_link {
    text-decoration: none;
    color: white;
}

.special {
    color: white;
    text-decoration: underline greenyellow;
    text-underline-offset: 6px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.special:hover {
    color: greenyellow;
    transition: all 0.4s ease-in-out;
}

a {
    cursor: default;
}

img {
    width: 40px;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.2) rotate(-10deg);
    background-color: greenyellow;
    border-radius: 5px;
}