@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

html {
    background-color: black;
    color: white;
    font-family: 'Sora', sans-serif;
    font-size: 30;
    scroll-behavior: smooth;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 14px;
}

a {
  color: white;
}

.cadre {
  border-radius: 20px;
}

.projects:hover {
  cursor: pointer;
  box-shadow: 0 0 2em white;
}

.projects {
  border-radius: 20px;
  margin-right: 20px;
}

button {
  background-color: #545454;
  color: white;
  border: 0;
  font-family: 'Sora', sans-serif;
  line-height: 3;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
}